@import 'colors';

// Стили линка в меню
%header-nav-link-hover {
    color: $gray;
    font-weight: bold;
}

// Линии с кружочком слева от пунктов меню
%header-nav-before {
    content: ''; 
    transition: all 0.3s ease-in-out 0.01s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -200px;
    width: 64px;
    height: 0;
    border: .5px solid $gold;
}

%header-nav-after {
    content: '';
    transition: all 0.3s ease-in-out 0.1s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -136px;
    width: 6px;
    height: 6px;
    border: 1px solid $gold;
    border-radius: 50px;
}
// Конец линии с кружочком слева от пунктов меню

.aside {
    width: 327px;
    min-width: 327px;
    height: 100vh;
    background: $asideBg;
    order: 1;
    color: $white;
    position: relative;
    overflow: hidden;
    transition: filter .5s;
    // Стили контейнера
    &-container {
        margin-left: 100px;
        height: 100%;
        position: fixed;
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: space-between;
    }

    // ================================
    // HEADER
    // ================================
    .header {
        margin-top: 55px;
        a {
            color: $white;
            text-decoration: none;
        }
        &-logo {
            text-transform: uppercase;
            &-big {
                font-weight: bold;
                font-size: 56px;
            }
            &-small {
                color: $gold;
                font-size: 14px;
                letter-spacing: 2.3px;
                margin-top: 5px;
            }
        }

        // НАВИГАЦИЯ
        nav {
            margin-top: 45px;
            ul {
                padding-left: 0;
            }
        }

        &-nav {
            list-style-type: none;
            margin-top: 12px;
            position: relative;
            transition: all .3s ease-in-out .3s;
            // Стили ссылки в неактивном, не наведенном состоянии
            a {
                color: $white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 2.3px;
                transition: all 0.2s ease 0.01s;
            }
            // Текст ссылки при наведении
            &:hover a {
                @extend %header-nav-link-hover;
                font-weight: normal;
            }
            // Линии в неактивном, не наведенном состоянии
            &::before {
                @extend %header-nav-before;
            }
            &::after {
                @extend %header-nav-after;
            }
            // Линии при наведении
            &:hover::before {
                @extend %header-nav-before;
                left: -100px;
            }
            &:hover::after {
                @extend %header-nav-after;
                left: -35px;
            }

            // Для активного пункта меню
            &.active {
                a {
                    @extend %header-nav-link-hover;
                }
                &::before {
                    @extend %header-nav-before;
                    left: -100px;
                }
                &::after {
                    @extend %header-nav-after;
                    left: -35px;
                }
            }
        }
        // КОНЕЦ НАВИГАЦИИ
    }
    // ================================
    // END HEADER
    // ================================

    // ================================
    // FOOTER
    // ================================

    .footer {
        // Навигация в футере
        &-nav {
            position: relative;
            ul {
                list-style: none;
                padding-left: 0;
                li:last-child {
                    margin-top: 6px;
                }
                a {
                    color: $whiteOpacity;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 1.71;
                    letter-spacing: 2px;
                    transition: all 0.1s ease-in-out 0.01s;
                    &:hover {
                        color: $white;
                    }
                }
            }
            // Линия под навигацией
            &::before {
                content: '';
                position: absolute;
                width: 40px;
                border-bottom: 1px solid $whiteOpacity;
                bottom: -20px;
                left: 0;
            }
        }

        // Контакты
        &-contacts {
            margin-top: 43px;
            margin-bottom: 55px;
            &-phone {
                display: block;
                color: $white;
                text-decoration: none;
                font-weight: bold;
                font-size: 20px;
                letter-spacing: 3.6px;
            }
            &-mail {
                display: block;
                margin-top: 4px;
                color: $goldMail;
                font-weight: bold;
                font-size: 18px;
                letter-spacing: 3.2px;
            }
            address {
                margin-top: 6px;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 2px;
                font-style: normal;
            }
        }
    }

    // ================================
    // END FOOTER
    // ================================
}