$mainBg: #202228;
$asideBg: #131216;

$sGray: #d8d8d8;
$gray: #b6c0d4;
$gold: #cba570;
$goldMail: #cfa056;

$white: #ffffff;
$whiteOpacity: rgba(255, 255, 255, .41);

:root {
    --darken: false;
}

// $darken: false;
$darken: var(--darken);

@if $darken == false {
    $mainBg: #d8d8d8;
    $asideBg: #b6c0d4;
    
    $sGray: #202228;
    $gray: #131216;
    $gold: #cba570;
    $goldMail: #cfa056;
    
    $white: #000000;
    $whiteOpacity: rgba(255, 255, 255, .41);
}
@else {
    $mainBg: #202228;
    $asideBg: #131216;

    $sGray: #d8d8d8;
    $gray: #b6c0d4;
    $gold: #cba570;
    $goldMail: #cfa056;

    $white: #ffffff;
    $whiteOpacity: rgba(255, 255, 255, .41);
}