@import 'colors';
@import 'fonts';


// ==================================
// CORE STYLES
// ==================================
body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    font-family: 'Akrobat';
    color: $white;
    background: $asideBg;

    .container {
        padding: 0 35px;
    }

    // ==================================
    // HEADERS AND PARGRAPHS
    // ==================================
    h1 {
        font-size: 40px;
        line-height: 1.13;
        letter-spacing: 2.5px;
        color: $sGray;
        text-transform: uppercase;
    }

    p {
        font-size: 16px;
    }
}