@mixin fontface($name, $file, $weight: normal, $style: normal){
    @font-face {
      font-family: "#{$name}";
      src: url('../fonts/#{$file}.otf');
      font-weight: $weight;
      font-style: $style;
    }
}

@include fontface(Akrobat, Akrobat-Regular);
@include fontface(Akrobat, Akrobat-Regular, bold);