@import 'colors';

%circle {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border: 2px solid $white;
    border-radius: 50px;
}

%open-pop-up {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -8;
    background: rgba($asideBg, .9);
    opacity: 0;
    transition: opacity .8s;
}

#news-pop-up {
    @extend %open-pop-up;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.blur {
    filter: blur(10px);
}

main {
    flex-basis: 100%;
    order: 2;
    background: $mainBg;
    display: flex;
    flex-direction: column;
    transition: filter .5s;
    // =============================
    // ШАПКА
    // =============================
    .navigation {
        height: 158px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .page-list {
            display: flex;
            flex-basis: 33.3%;
            // Стрелочки
            .page-list-arrow {
                padding: 4px;
                span {
                    display: block;
                    position: relative;
                    width: 25px;
                    outline: 1px solid $gold;
                    top: 55%;
                    transform: translateY(-50%);
                }
                &:hover {
                    cursor: pointer;
                }
            }
            // Стрелка влево
            .page-list-left-arrow span {
                &::after {
                    content: '';
                    position: absolute;
                    left: -12px;
                    bottom: -4px;
                    border: 4px solid transparent;
                    border-right: 7px solid $gold;
                }
            }
            // Стрелка вправо
            .page-list-right-arrow span {
                &::after {
                    content: '';
                    position: absolute;
                    right: -12px;
                    bottom: -4px;
                    border: 4px solid transparent;
                    border-left: 7px solid $gold;
                }
            }
            // Номер страницы
            .page-list-numbers {
                margin: 15px;
                font-size: 15px;
                letter-spacing: 1.7px;
                span:first-child {
                    font-size: 25px;
                }
            }
        }

        // PDF Document
        .presentation {
            position: relative;
            flex-basis: 33.3%;
            overflow: hidden;
            a {
                display: flex;
                color: $white;
                text-decoration: none;
                width: 130px;
                // Иконка PDF документа
                .presentation-file {
                    position: relative;
                    width: 20px;
                    height: 23px;
                    border: 1px solid $white;
                    margin-right: 13px;
                    div {
                        background: rgba($gold, .5);
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: -100%;
                        transition: all .5s;
                        opacity: 0;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        right: -4px;
                        top: -4px;
                        border: 6px solid transparent;
                        border-top: 6px solid $mainBg;
                        border-right: 6px solid $mainBg;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        right: -1px;
                        top: -1px;
                        border: 4px solid transparent;
                        border-top: 4px solid $white;
                        border-right: 4px solid $white;
                    }
                    // Text in PDF Icon
                    span {
                        font-size: 7px;
                        text-transform: uppercase;
                        text-align: center;
                        position: relative;
                        margin: auto;
                        font-stretch: condensed;
                        display: block;
                        top: 8px;
                    }
                }
                &:hover {
                    .presentation-file div {
                        top: 0;
                        height: 100%;
                        transform-origin: top;
                        transition: all .5s;
                        opacity: 1;
                    }
                }
                // Text right from PDF Icon
                .presentation-text {
                    width: 99px;
                    font-size: 10px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
        }

        // Day/Night
        .day-night {
            display: flex;
            // flex-basis: 33.3%;
            flex-direction: column;
            // Text top
            &-text {
                font-size: 12px;
                letter-spacing: 1.2px;
                text-align: center;
                font-weight: normal;
            }
            // Switcher
            &-switcher {
                width: 62px;
                height: 32.4px;
                border: 1px solid darken($white, 50%);
                margin-top: 4.6px;
                display: flex;
                align-items: center;
                &-day-night {
                    width: 50%;
                    height: 100%;
                    position: relative;
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        transition: all .5s ease 0s;
                        &:hover {
                            background: $white;
                            border-color: $gray;
                            &::before {
                                border-color: lighten($mainBg, 20%) !important;
                                border-width: 3px !important;
                            }
                        }
                        &.night:hover {
                            &::before {
                                border-bottom: none !important;
                            }
                        }
                        // Circle in Day
                        &.day::before {
                            @extend %circle;
                        }
                        &.night::before {
                            @extend %circle;
                            left: 13%;
                            top: 36%;
                            width: 16px;
                            height: 8px;
                            border: 1px solid transparent;
                            border-radius: 50px 50px 0px 0;
                            border-top: 2px solid $white;
                            border-left: 2px solid $white;
                            border-right: 2px solid $white;
                            transform: rotate(-120deg);
                        }
                    }
                }
                // Active style
                .active {
                    border: 1.2px solid $white;
                    position: relative;
                    bottom: .2px;
                    background: lighten($mainBg, 12%);
                }
            }
        }
    }
    // =============================
    // КОНЕЦ ШАПКИ
    // =============================

    // =============================
    // КОНТЕНТ
    // =============================

    // Background
    .home-page-bg {
        background: url('../img/home-page.png');
        background-size: cover;
        height: calc(100% - 158px);
        // Content
        .container {
            height: 100%;
            display: flex;
            align-items: center;
            .home-page-content {
                max-width: 448px;
                p {
                    line-height: 1.44;
                    padding-right: 40px;
                }
            }
        }
    }

    // =============================
    // КОНЕЦ КОНТЕНТА
    // =============================
}